*{
    text-decoration: none;
}
.form-control{
    border-radius: 3px;
    margin-left: 20px;
    width: 600px;
}
.search-icon{
    color: blue;
    position: absolute;
    z-index: 10;
    right: 50%;
    top: 25px;
}
.app-font{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: larger;
}
.navbar{
    flex: fixed;
}