<div class="card-top mt-5 container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img style="margin-top:30px; width: 90px;" src="assets\images.png" alt="">
                <h6 style="padding-top: 6px;">All Products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img style="margin-top: 21px; width: 65px;" src="assets\download.jpeg" alt="">
                <h6 style="padding-top: 5px;">Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img style="margin-top: 25px; width: 50px;" src="assets\Fashion.png" alt="">
                <h6 style="padding-top: 6px;">Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="margin-top: 20px; width: 50px;" src="assets\jewelerry.png" alt="">
                <h6 style="padding-top: 4px;">Jewellery</h6>
            </a>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
        <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price: </strong>₹{{item.price}}</p>
                <button class="btn btn-primary" (click)="addtocart(item)">Add to Cart</button>
            </div>
        </ng-container>
    </div>
</div>